body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav-bar {
  font-size: 20px;
  position: center;
  background: turquoise;
  align-self: left;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar a {
  margin: 0 10px;
}

.hero__wrapper {
  display: flex;
  justify-content: center;
}

.hero__img-container {
  display: flex;
  justify-content: center;
  background-image: url("images/ronaldo.jpeg");
  background-size: cover;
  width: 100%;
  padding: 50px 0;
  height: 500px;
  align-items: center;
  flex-flow: column nowrap;
  color: white;
}

.hero__image {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(92, 59, 15);
}

.page-title {
  background: rgb(60, 60, 224);
  min-height: 45px;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80vh;
  background-image: url("images/ronaldo.jpeg");
  width: 100%;
  background-size: cover;
}

.shoe-wrapper {
  padding: 10px;
}

.shoe-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 5px 0;
  height: 100%;
  box-sizing: border-box;
}

.shoe-container:hover {
  opacity: 0.75;
  cursor: pointer;
}

.shoe-image {
  width: 100px;
  height: 100px;
}

@media (min-width: 768px) {
  .shoe-image {
    width: 200px;
    height: 200px;
  }
}

.shoe-description {
  padding: 0 10px;
  flex-grow: 2;
}

/* .shoe-price {
} */

.main-footer {
  background-color: rgb(214, 139, 145);
  min-height: 90px;
  display: flex;
  width: 90%;
  height: 10vh;
}

.company-logo {
  height: 80%;
}

.media-icon {
  height: 100%;
}

.contact-html {
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(7, 7, 73);
  width: 100% margin, 10px;
}

.media-links {
  height: 80%;
}
