body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-title {
    background: rgb(60, 60, 224);
    min-height: 10vh;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 80vh;
    background-image: url("images/ronaldo.jpeg");
    width: 100%;
    background-size: cover;
}

.shoe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 18vh; 
    margin: 10px 10px 10px 10px;
    background-color: white;
    padding-top: 5px;
}

.shoe-image{
    width: 12vh;
    height: 12vh;
}


.page-footer {
    background-color: rgb(57, 57, 138);
    min-height: 10vh;
    display: inline-flex;
    width: 100%;
}